<table>
<tr>
  <td>
  <%= image_tag product.image.tiny.url %>
  </td>

  <div><td>
  <p><%= product.description %></p>
  </td></div>

  <td>
  <h4><%= product.name %></h4>
  </td>

  <td>
  <p>$<%= product.price %></p>
  </td>

  <td>
  <div><%= quantity %></div>
  </td>

</tr>
</table>