<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h3>Thank you for your order!</h3>
    <h4>Your reciept has been sent to: <%= @order.email %></h4>
  </div>
  <div>
    <%= @order.line_items.each do |product|%>
    <%= render 'order-confirm', product: product.product, quantity: product.quantity.to_i%>
    <% end %>

  </div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
